
/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap"); */

/*16px*/

/*  */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1e293b;
  font-size: 1.5rem;
  width: 100%;
  color: aliceblue;

}
.li{
  color: white;
}
.li:hover{
  color: rgb(230, 135, 100);
}
.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  position: sticky;
}
.ul-items{
  background-color: red;
  display: none;
}
@media screen and (max-width:600px) {
  .nav-items{
display: flex;
flex-direction: column;
color: whitesmoke;
height: 30rem;
width: 20rem;
background-color: #1e293b;
gap: 2rem;
padding: 13px;
visibility: visible !important;

}
.right{
  display: none !important;
}
.show{
  visibility: visible !important;
}
}

.nav-items{
  /* visibility: hidden; */
  isplay: flex;
flex-direction: column;
color: whitesmoke;
height: 30rem;
width: 20rem;
background-color: #1e293b;
gap: 2rem;
padding: 13px;
visibility: visible !important;
}


.right{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: capitalize;
  gap:2rem;
  color: white !important;
}

/* p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
} */



small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  height: 3rem !important;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 400px;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem 0;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input{
  color: aliceblue !important;
  width: 17rem !important;
}
.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background-color: aliceblue;
  border: 1px solid var(--grey-200);
  color: aliceblue;
}

.form-row {
  margin-bottom: 1rem;
  color: aliceblue;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.form h5 {
  text-align: center;
}
.form .btn {
  margin-top: 0.5rem;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.section {
  padding: 2rem 0;
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.navbar {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.link {
  color: whitesmoke;
}

.active {
  color: var(--primary-500);
}
.products article {
  margin-bottom: 1rem;
}

.products h5 {
  margin-bottom: 0;
}

.product img {
  width: 200px;
  height: 150px;
}
.hero{
  width: 100%;
  height: 90Vh;
}
.image{
  width: 95%;
  height: 100%;
  object-fit: cover;
position: absolute;
}
.right{
  position: relative;
  top: 3rem;
  color: #1e293b !important;
  padding: 1rem;
}
.right h1 h5{

}
.t{
  opacity: 0;
}
.btn{

  background-color: yellow;
  height: 1rem;
  border-radius: 4px;
  margin-top: 2rem;
}
.btn:hover{
  background-color: orchid;
}